version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  api:
    build:
      context: ./Portfolio.Api
      dockerfile: Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=PortfolioDb;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True
      - Jwt__Key=HighlySecretKeyChangeThisInProduction123!
      - Jwt__Issuer=PortfolioApi
      - Jwt__Audience=PortfolioClient
    ports:
      - "5027:5027"
    depends_on:
      - db

volumes:
  sql_data:
